<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xufei.system.mapper.SysUserMapper">

    <select id="selectUserByUsername" resultMap="SysUserResult">
        select * from sys_user where user_name = #{username}
    </select>

    <resultMap id="SysUserResult" type="SysUser">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <association property="dept" column="dept_id" select="com.xufei.system.mapper.SysDeptMapper.selectById" javaType="SysDept" />
    </resultMap>


</mapper>